.footer
  .container
    .row.footer__row
      .col-4.hidden-md
      .col-4.col-md-12.text-center
        a.footer__logo(href="/"): img(src="assets/images/logo.png", alt="logo")
      .col-4.col-md-12.text-right.text-md-center
        a.footer__email(href="#") s@place-tech.com

script(src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous")
script(src="assets/js/script.js")
