head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='format-detection', content='telephone=no')
  title Landing page example
  meta(name='description', content='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate aut nisi, numquam.')
  link(rel='canonical', href='https://example.com')
  meta(property='og:locale', content='ru_RU')
  meta(property='og:type', content='website')
  meta(property='og:title', content='Landing page example')
  meta(property='og:description', content='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate aut nisi, numquam.')
  meta(property='og:url', content='https://example.com')
  meta(property='og:image', content='assets/images/system/promo.jpg')
  meta(property='og:image:alt', content='Landing page example')
  meta(property='og:site_name', content='Landing page example')
  link(rel="stylesheet", href="assets/css/petunia-minify.css")
  link(rel="stylesheet", href="assets/css/styles.css")
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
