.header
  .container
    .row.header__row
      .col-4.hidden-md
      .col-4.col-md-12.text-center
        img(src="assets/images/logo.png", alt="Place Tech").header__logo
      .col-4.col-md-12.text-right.text-md-center
        a(href="mailto:s@place-tech.com").header__email s@place-tech.com
