.section.sectionComparison
	.container
		h2.section__title Сравните
		.sectionComparison_content
			.sectionComparison__table
				table
					thead
						tr
							td
							td Все сделать самому
							td Франшиза
							td Аренда площадки #[br] “Плэйс Тех”
					tbody
						tr
							td Время на старт
							td от 3-х месяцев
							td 14 дней
							td 1 день
						tr
							td Вложения
							td от 2 000 000 руб на создание, #[br] разработку и пр
							td от 100 000 руб взнос, прочие #[br]  расходы
							td 0 руб
						tr
							td Взнос
							td -
							td от 100 000 руб
							td 0 руб
						tr
							td Роялти
							td -
							td от 10% до 50% от оборота
							td 0%, 0 руб
						tr
							td Расход на директолога, #[br] маркетолога, юриста
							td от 35 000 руб/мес
							td от 5 000 руб/мес
							td 0 руб
						tr
							td Прибыль
							td от 50 000 до 300 000 руб/мес
							td от 80 000 руб до 500 000 руб/мес
							td от 80 000 руб до 500 000 руб/мес
						tr
							td Обязательства
							td -
							td зависимость от продавца #[br] франшизы
							td нет
						tr
							td Возможность приостановить #[br] работу
							td да, в любой момент
							td да, но возникают обязательства #[br] по оплатам
							td можете в любой момент #[br] оставить работу и потом #[br] возобновить ее без #[br] обязательств