.section.sectionFAQ
	.container
		h2.section__title Вопрос-ответ
		.sectionFAQ__content
			.sectionFAQItem
				.sectionFAQItem__q Вопрос: Сколько еще человек в моем городе получит возможность работать с Вами?
				.sectionFAQItem__a
					p “Плэйс Тех” - это не франшиза. Поэтому у нас нет ни взноса ни роялти. Мы – IT компания и хорошие маркетологи. Мы создали удобную, качественную и продвинутую площадку по аренде спецтехники. Лучшую в стране! Вы пользуетесь этой площадкой, зарабатываете, а нам платите арендную плату. Точно также как Вы, например, снимаете офис оказывая услуги или магазин для продажи товаров, потому что не можете купить помещение, куда приходят люди и платите за это аренду. Так и здесь. Вы не можете создать площадку за несколько миллионов рублей, не можете ее обслуживать и продвигать за несколько сотен тысяч в месяц. Поэтому это делаем мы. При этом, в отличие от аренды помещения Вы нам платите в конце месяца, когда уже заработали деньги, а не предоплатой. Поэтому это и называется условием бизнеса без вложений.
			.sectionFAQItem
				.sectionFAQItem__q Сколько я зарабатываю?
				.sectionFAQItem__a
					p “Плэйс Тех” - это не франшиза. Поэтому у нас нет ни взноса ни роялти. Мы – IT компания и хорошие маркетологи. Мы создали удобную, качественную и продвинутую площадку по аренде спецтехники. Лучшую в стране! Вы пользуетесь этой площадкой, зарабатываете, а нам платите арендную плату. Точно также как Вы, например, снимаете офис оказывая услуги или магазин для продажи товаров, потому что не можете купить помещение, куда приходят люди и платите за это аренду. Так и здесь. Вы не можете создать площадку за несколько миллионов рублей, не можете ее обслуживать и продвигать за несколько сотен тысяч в месяц. Поэтому это делаем мы. При этом, в отличие от аренды помещения Вы нам платите в конце месяца, когда уже заработали деньги, а не предоплатой. Поэтому это и называется условием бизнеса без вложений.
			.sectionFAQItem
				.sectionFAQItem__q Что я получаю, работая с вами?
				.sectionFAQItem__a
					p “Плэйс Тех” - это не франшиза. Поэтому у нас нет ни взноса ни роялти. Мы – IT компания и хорошие маркетологи. Мы создали удобную, качественную и продвинутую площадку по аренде спецтехники. Лучшую в стране! Вы пользуетесь этой площадкой, зарабатываете, а нам платите арендную плату. Точно также как Вы, например, снимаете офис оказывая услуги или магазин для продажи товаров, потому что не можете купить помещение, куда приходят люди и платите за это аренду. Так и здесь. Вы не можете создать площадку за несколько миллионов рублей, не можете ее обслуживать и продвигать за несколько сотен тысяч в месяц. Поэтому это делаем мы. При этом, в отличие от аренды помещения Вы нам платите в конце месяца, когда уже заработали деньги, а не предоплатой. Поэтому это и называется условием бизнеса без вложений.
			.sectionFAQItem
				.sectionFAQItem__q А на чем зарабатывает агрегатор “Плэйс Тех”, если у вас нет ни взноса ни роялти?
				.sectionFAQItem__a
					p “Плэйс Тех” - это не франшиза. Поэтому у нас нет ни взноса ни роялти. Мы – IT компания и хорошие маркетологи. Мы создали удобную, качественную и продвинутую площадку по аренде спецтехники. Лучшую в стране! Вы пользуетесь этой площадкой, зарабатываете, а нам платите арендную плату. Точно также как Вы, например, снимаете офис оказывая услуги или магазин для продажи товаров, потому что не можете купить помещение, куда приходят люди и платите за это аренду. Так и здесь. Вы не можете создать площадку за несколько миллионов рублей, не можете ее обслуживать и продвигать за несколько сотен тысяч в месяц. Поэтому это делаем мы. При этом, в отличие от аренды помещения Вы нам платите в конце месяца, когда уже заработали деньги, а не предоплатой. Поэтому это и называется условием бизнеса без вложений.
			.sectionFAQItem
				.sectionFAQItem__q Поскольку это бизнес без вложений и желающих много, как Вы будете выбирать с кем работать?
				.sectionFAQItem__a
					p “Плэйс Тех” - это не франшиза. Поэтому у нас нет ни взноса ни роялти. Мы – IT компания и хорошие маркетологи. Мы создали удобную, качественную и продвинутую площадку по аренде спецтехники. Лучшую в стране! Вы пользуетесь этой площадкой, зарабатываете, а нам платите арендную плату. Точно также как Вы, например, снимаете офис оказывая услуги или магазин для продажи товаров, потому что не можете купить помещение, куда приходят люди и платите за это аренду. Так и здесь. Вы не можете создать площадку за несколько миллионов рублей, не можете ее обслуживать и продвигать за несколько сотен тысяч в месяц. Поэтому это делаем мы. При этом, в отличие от аренды помещения Вы нам платите в конце месяца, когда уже заработали деньги, а не предоплатой. Поэтому это и называется условием бизнеса без вложений.
			.sectionFAQItem
				.sectionFAQItem__q Сколько времени есть подумать?
				.sectionFAQItem__a
					p “Плэйс Тех” - это не франшиза. Поэтому у нас нет ни взноса ни роялти. Мы – IT компания и хорошие маркетологи. Мы создали удобную, качественную и продвинутую площадку по аренде спецтехники. Лучшую в стране! Вы пользуетесь этой площадкой, зарабатываете, а нам платите арендную плату. Точно также как Вы, например, снимаете офис оказывая услуги или магазин для продажи товаров, потому что не можете купить помещение, куда приходят люди и платите за это аренду. Так и здесь. Вы не можете создать площадку за несколько миллионов рублей, не можете ее обслуживать и продвигать за несколько сотен тысяч в месяц. Поэтому это делаем мы. При этом, в отличие от аренды помещения Вы нам платите в конце месяца, когда уже заработали деньги, а не предоплатой. Поэтому это и называется условием бизнеса без вложений.
			.sectionFAQItem
				.sectionFAQItem__q Сколько нужно времени от начала работы до первых денег?
				.sectionFAQItem__a
					p
						| “Плэйс Тех” - это не франшиза. Поэтому у нас нет ни взноса ни роялти. Мы – IT компания и хорошие маркетологи. Мы создали удобную, качественную и продвинутую площадку по аренде спецтехники. Лучшую в стране! Вы пользуетесь этой площадкой, зарабатываете, а нам платите арендную плату. Точно также как Вы, например, снимаете офис оказывая услуги или магазин для продажи товаров, потому что не можете купить помещение, куда приходят люди и платите за это аренду. Так и здесь. Вы не можете создать площадку за несколько миллионов рублей, не можете ее обслуживать и продвигать за несколько сотен тысяч в месяц. Поэтому это делаем мы. При этом, в отличие от аренды помещения Вы нам платите в конце месяца, когда уже заработали деньги, а не предоплатой. Поэтому это и называется условием бизнеса без вложений.
