.features
  .container
    .row
      .col-4.col-md-12
        .featuresItem
          h3.featuresItem__title #[span Нет]  #[br] взноса
      .col-4.col-md-12
        .featuresItem
          h3.featuresItem__title #[span Нет]  #[br] роялти
      .col-4.col-md-12
        .featuresItem
          h3.featuresItem__title #[span Нет]  #[br] вложений