.section.sectionHome
  .container.sectionHome__container
    h1.sectionHome__title
      span.b Как зарабатывать,#[br]
      | сдавая в аренду спецтехнику, не имея #[br] ни одной единицы техники?
    .sectionHome__tagline #[span Это вам не] франшиза!
  a(href="#stage").sectionHome__anchor: i.fas.fa-angle-down