.section.sectionStage#stage
	.container
		h4.section__title.sectionStage__title ВСЁ ПРОСТО. ЗАРАБАТЫВАЙТЕ КАК АГРЕГАТОР!
		.sectionStage_content
			.row.sectionStage__row
				.col-6.col-md-12
					p: img(src="assets/images/mechanism.png", alt="mechanism").img-fluid
				.col-6.col-md-12.sectionStage__right
					.sectionStageItem
						.sectionStageItem__icon 1
						.sectionStageItem__title Вам поступают заявки
					.sectionStageItem
						.sectionStageItem__icon 2
						.sectionStageItem__title Вы направляете клиентам спецтехнику
					.sectionStageItem
						.sectionStageItem__icon 3
						.sectionStageItem__title Вам возвращается комиссия от 5% до 25%