.section.sectionInfo
  .container
    .row.sectionInfoContent
      .col-6.col-md-12
        h4.sectionInfo__title ЭТОТ БИЗНЕС - НЕ “ХАЛЯВА”!
        p Рынок переполнен предложениями о создании собственного бизнеса, который якобы не предполагает вложений и затрат, и как только Вы купились на это, подписали договор, как обычно не читая его внимательно, выясняется, что нужно платить за одно, другое, третье, десятое при этом необходимо тратить массу времени, чтобы вникнуть в суть того, что Вам продали. Ну и зачастую, то что Вы покупаете это мусор и даже мошеннические предложения из разряда MLM, купи-продай, инфо-бизнес. И далее Вам говорят, что нельзя заниматься бизнесом, не имея денег, да - нельзя, если этот бизнес предполагает затраты. Но мы предлагаем бизнес без затрат и доказали это! Есть бизнес, в котором не нужно нарабатывать клиентскую базу, закупать товар, не нужен офис, сотрудники! Не нужно делать сайт, искать настройщиков контекстной рекламы. Нужен только мобильный телефон, Вы спросите- как? Агрегатор аренды спецтехники «Плэйс Тех» сделал все за Вас! Создал высокотехнологичную площадку с личным кабинетом и управлением, CRM, разработали технологию работы и всех процессов и передал Вам для зарабатывания Вами денег.
        .hidden.show-md
          p: img.img-fluid(src="assets/images/work-2.png", alt="mechanism", style="position: relative;width: calc(100% + 30px);left: -15px;")
        .text-md-center
          p.text__bold Начните свой бизнес уже сейчас!
          a(href="#form").btn.btn-block.btn-primary ОТПРАВИТЬ ЗАЯВКУ
      .col-6.col-md-12
        img.sectionInfo__img.hidden-md(src="assets/images/work.png", alt="mechanism")