<!DOCTYPE html>
html(lang="ru")
  include components/common/head
  body
    include components/common/header
    include components/sections/home
    include components/sections/features
    include components/sections/stage
    include components/sections/info
    include components/sections/faq
    include components/sections/feedback
    include components/sections/comparison
    include components/common/footer
