<!DOCTYPE html>
html(lang="ru")
	include components/head
	body
		include components/header
		include components/sections/section-stage
		include components/sections/section-info
		include components/sections/section-question
		include components/sections/section-form
		include components/sections/section-comparison
		include components/footer