.header{
	background-image: url('../images/background.png');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width:960px) {
		justify-content: center;
	}
}
.header__email { 
	font-size: 20px;
	color: @color_4;
}
.header__email:hover { 
	color: @color_4;
}
.header__title {
	margin-top: 400px;
	text-align: center;
	color: @color_4;
	font-weight: 200;
	@media (max-width:960px) {
		font-size: 40px;
		margin-top: 200px;
	}
}
.fat__text {
	font-weight: bold;
}
.allotted__text {
	color: @color_1;
}
.title__bottom {
	margin-top: 265px;
	text-align: center;
	opacity: 0.3;
	color: @color_4;
	font-size: 60px;
	@media (max-width:960px) {
		font-size: 50px;
		margin-top: 132px;
	}
}
.header__arrow {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid @color_4;
}
.headerArrow{
	display: flex;
    justify-content: center;
}
.headerBottom{
	background-color: @color_1;
}
.header__bottom{
	padding-bottom: 30px;
	padding-top: 30px;
}
.titles{
	border-left: 2px solid @color_3;
	padding-left: 27px;
}
.titles__text{
	color: @color_4;
}